
<%# <p id="notice"><%= notice %></p> 



<div class="user-profile">


<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-4 col-md-2">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6OltAVgijbP-NK9deGg0DqI8467nvvdM2FE0FeExxq093iZB4iw&s" alt="" class="img-rounded img-responsive" width="100%" />
                     </div>
                    <div class="col-sm-6 col-md-8">
                         <h1><%= @current_user.name %> </h1>
                        
                            <i class="glyphicon glyphicon-envelope"></i><%= @current_user.email %> 
                            <br />
                            <i class="glyphicon glyphicon-gift"></i><%= @current_user.brithday %> </p>
                            <i class="glyphicon glyphicon-gift"></i><%= link_to '+ Add New Gift', new_gift_path %>  </p>
                    </div>
                   
                   
                </div>
                <div class="row2">
                <br><h2>Gift List:</h2>
                  <div>
                
                      <div class="card-columns">
                        <% @gifts.each do |gift| %>
                        <div class="card">
                         <img src= "<%=gift.link%> " class="card-img-top" >
                          <div class="card-body">
                            <h5 class="card-title"><%=gift.name%> </h5>
                            <% if gift.status == true%>
                              <p > Unavailable </p>
                            <% else%>
                               <p> available </p>
                            <%end%>
                            <i class="glyphicon glyphicon-gift"></i><%= link_to '+more details', gift_path(gift) %>  </p>
                            
                            <p class="card-text"><small class="text-muted"> added at: <%=gift.created_at%></small></p>
                          </div>
                        
                        </div>
                          <%end%>
                       <%# > %>
 
 
                </div>







                  </div>
                 
                </div>
            </div>
        </div>
    </div>
</div>








             
              <%# <%= link_to 'Back', root_path %> 
