<div class="editForm-gift ">

<h1>Add New Gift</h1>

<%= render 'form' %>

<%= form_for @gift , url:{action: "create"} do |f|%>

    <%= f.label :name,'Title:' %><br>
    <%= f.text_field :name ,class:"form-control"%><br>

    <%= f.label :link , 'Image Url: '%><br>
    <%= f.text_field :link,class:"form-control" %><br>

    <%= f.label  'Gift Image: '%><br>
    <%= f.file_field :avatar %><br>

    <%= f.label :price , 'price: '%><br>
    <%= f.number_field :price  ,min:1 ,class:"form-control"%><br>

    <%= f.label :where_to_buy , 'Store Name: '%>
    <%= f.text_field :where_to_buy,class:"form-control" %><br>

     <%= f.label :description , ' description: '%>
   <%= f.text_area :description ,class:"form-control" %><br>

    <%# ,class:"form-control" %><br> 

   <%# <%# <div class="field"> %>
     <%# <%= f.label :purchased %> 
    <%  status = false %>
    <br>
  <%# </div> %>

    <%= f.submit "Add Item " ,class:"btn btn-outline-secondary"%>
  <%= link_to 'Cancel', root_path,class:"btn btn-outline-secondary"%>
<% end %>

</div>

